body {
    background-image: url(../img/landing-bg.jpg);
}

.title-box {
    margin-top: 20px;
    background-color: white;
    font-size: 6rem;
    text-align: center;
}

.row {
    background-color: white;
}

.content-box h4 {
    text-decoration: underline;
}

@media(min-width:1200px) {
    .content-box h4 {
        font-size: 2rem;
    }
}