
body {
    background-image: url(/app/img/landing-bg.jpg);
    background-size: cover;
}

.content-box {
    margin-top: 50px;
}

.content-box h1 {
    font-size: 6rem;
}

.login-box {
    background-color: white;
    border-radius: 5px;
}

.login-box h3 {
    text-align: center;
}
