
body {
    background-image: url(../img/landing-bg.jpg);
}

.content-box {
    margin-top: 50px;
}

.content-box h1 {
    font-size: 6rem;
}

.login-box {
    background-color: white;
    border-radius: 5px;
}

.login-box h3 {
    text-align: center;
}

.login-box button {
    margin-bottom: 10px;
}

#login-alert {
    display: none;
}
