
body {
    background-image: url(../img/landing-bg.jpg);
    background-size: cover;
}

.title-box {
    margin-top: 50px;
}

.register-box {
    background-color: white;
    border-radius: 5px;
}

.register-box h3 {
    text-align: center;
}

.register-box button {
    margin-bottom: 10px;
}

#register-alert {
    display: none;
}
