<!-- about CSS -->
<link href="app/css/about.css" rel="stylesheet" type="text/css" />

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/landing" class="navbar-brand">Uber 2</a>
        </div>
        <nav class="{{active}}">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/landing" class="landing" ng-click="active='landing'">Home</a>
                </li>
                <li>
                    <a href="#/register" class="register" ng-click="active='register'">Register</a>
                </li>
                <li>
                    <a href="#/driver" class="driver" ng-click="active='driver'">Driver</a>
                </li>
                <li>
                    <a href="#/rider" class="rider" ng-click="active='rider'">Rider</a>
                </li>
                <li>
                    <a href="#/about" class="about" ng-click="active='about'">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="jumbotron content-box">
    <h1>About</h1>
</div>

<div class="row">
    <div class="col-xs-4">
        <div class="col-xs-12 table-header">
            <h2>Drivers</h2>
        </div>
        <div class="col-xs-12">
            <p>Our drivers like to drive!</p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="col-xs-12 table-header">
            <h2>Riders</h2>
        </div>
        <div class="col-xs-12">
            <p>Our riders love our drivers!</p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="col-xs-12 table-header">
            <h2>Developers</h2>
        </div>
        <div class="col-xs-12">
            <p>And we work for both our drivers and riders!</p>
        </div>
    </div>
</div>