<!-- about CSS -->
<link href="app/css/about.css" rel="stylesheet" type="text/css" />

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-elements" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">Uber 2</a>
        </div>
        <nav class="collapse navbar-collapse" ng-class="active" id="nav-elements">
            <ul class="nav navbar-nav">
                <li ng-class="active == 'landing' ? 'active' : ''">
                    <a href="#/" class="landing" ng-click="active='landing'">Home</a>
                </li>
                <li ng-class="active == 'register' ? 'active' : ''">
                    <a href="#/register" class="register" ng-click="active='register'">Register</a>
                </li>
                <li ng-class="active == 'driver' ? 'active' : ''">
                    <a href="#/driver" class="driver" ng-click="active='driver'">Driver</a>
                </li>
                <li ng-class="active == 'rider' ? 'active' : ''">
                    <a href="#/rider" class="rider" ng-click="active='rider'">Rider</a>
                </li>
                <li ng-class="active == 'about' ? 'active' : ''">
                    <a href="#/about" class="about" ng-click="active='about'">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="jumbotron title-box">
    <h1>About</h1>
</div>

<div class="row content-box">
    <div class="col-xs-4">
        <h3>Drivers</h3>
        <p>Our drivers like to drive!</p>
    </div>
    <div class="col-xs-4">
        <h3>Riders</h3>
        <p>Our riders love our drivers!</p>
    </div>
    <div class="col-xs-4">
        <h3>Developers</h3>
        <p>And we work for both our drivers and riders!</p>
    </div>
</div>