<!-- driver CSS -->
<link href="app/css/driver.css"  rel="stylesheet" type="text/css"  />

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-elements" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/landing" class="navbar-brand">Uber 2</a>
        </div>
        <nav class="collapse navbar-collapse" ng-class="active" id="nav-elements">
            <ul class="nav navbar-nav">
                <li ng-class="active == 'landing' ? 'active' : ''">
                    <a href="#/" class="landing" ng-click="active='landing'">Home</a>
                </li>
                <li ng-class="active == 'register' ? 'active' : ''">
                    <a href="#/register" class="register" ng-click="active='register'">Register</a>
                </li>
                <li ng-class="active == 'driver' ? 'active' : ''">
                    <a href="#/driver" class="driver" ng-click="active='driver'">Driver</a>
                </li>
                <li ng-class="active == 'rider' ? 'active' : ''">
                    <a href="#/rider" class="rider" ng-click="active='rider'">Rider</a>
                </li>
                <li ng-class="active == 'about' ? 'active' : ''">
                    <a href="#/about" class="about" ng-click="active='about'">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="jumbotron title-box">
    <h1>Driver Page</h1>
</div>

<div class="panel request-box">
    <div class="well" ng-repeat="req in requests">
        <span>req_id: {{ req[0] }}</span><br>
        <span>user_id: {{ req[1] }}</span><br>
        <span>lat: {{ req[2] }}</span><br>
        <span>lng: {{ req[3] }}</span><br>
        <span>time: {{ req[4] }}</span><br>
        <span>status: {{ req[5] }}</span><br>
        <span>driver: {{ req[6] }}
        <button ng-init="checkRides(req)" ng-if="currentRequest == ''" ng-click="acceptRide(req, user)">Accept Request</button>
        <button ng-if="currentRequest == req[0]" ng-click="cancelRide(req, user)">Cancel Request</button>
    </div>
</div>

<div id="right-panel"></div>

<div id="map">

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg5vYIK-jzpARJEDjbGdG91xn0r0eGvVM&callback=initMap" async defer></script>