<!-- about CSS -->
<link href="app/css/register.css"  rel="stylesheet" type="text/css"  />

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-elements" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/landing" class="navbar-brand">Uber 2</a>
        </div>
        <nav class="collapse navbar-collapse" ng-class="active" id="nav-elements">
            <ul class="nav navbar-nav">
                <li ng-class="active == 'landing' ? 'active' : ''">
                    <a href="#/" class="landing" ng-click="active='landing'">Home</a>
                </li>
                <li ng-class="active == 'register' ? 'active' : ''">
                    <a href="#/register" class="register" ng-click="active='register'">Register</a>
                </li>
                <li ng-class="active == 'driver' ? 'active' : ''">
                    <a href="#/driver" class="driver" ng-click="active='driver'">Driver</a>
                </li>
                <li ng-class="active == 'rider' ? 'active' : ''">
                    <a href="#/rider" class="rider" ng-click="active='rider'">Rider</a>
                </li>
                <li ng-class="active == 'about' ? 'active' : ''">
                    <a href="#/about" class="about" ng-click="active='about'">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="jumbotron title-box">
    <h1>Register</h1>
    <p>Uber2 is amazing and if you don't agree with that then you're not amazing.</p>
</div>

<div class="row">
    <div class="col-xs-1 col-md-4"></div>
    <div class="col-xs-10 col-md-4 register-box">
        <h3>Register</h3>
        <form>
            <div id="register-alert" class="alert alert-danger" role="alert">Could not register!</div>
            <div class="form-group">
                <label for="registerEmail">Email</label>
                <input type="email" class="form-control" placeholder="Email" ng-model="email">
            </div>
            <div class="form-group">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control" placeholder="Password" ng-model="password">
            </div>
            <div class="form-group">
                <label>Do you want to be a driver? </label>
                <input type="checkbox" value="driverStatus" ng-model="driverStatus">
            </div>
            <button type="submit" class="btn btn-default" ng-click="register()">Register</button>
        </form>
    </div>
    <div class="col-xs-1 col-md-4"></div>
</div>
