<!-- rider.html CSS -->
<link href="app/css/rider.css"  rel="stylesheet" type="text/css"  />

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-elements" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">Uber 2</a>
        </div>
        <nav class="collapse navbar-collapse" ng-class="active" id="nav-elements">
            <ul class="nav navbar-nav">
                <li ng-class="active == 'landing' ? 'active' : ''">
                    <a href="#/" class="landing" ng-click="active='landing'">Home</a>
                </li>
                <li ng-class="active == 'register' ? 'active' : ''">
                    <a href="#/register" class="register" ng-click="active='register'">Register</a>
                </li>
                <li ng-class="active == 'driver' ? 'active' : ''">
                    <a href="#/driver" class="driver" ng-click="active='driver'">Driver</a>
                </li>
                <li ng-class="active == 'rider' ? 'active' : ''">
                    <a href="#/rider" class="rider" ng-click="active='rider'">Rider</a>
                </li>
                <li ng-class="active == 'about' ? 'active' : ''">
                    <a href="#/about" class="about" ng-click="active='about'">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<div class="jumbotron title-box">
    <h1>Rider Profile</h1>
    <p>{{ user.email }}</p>
    <button ng-if="user.is_driver == '1'" type="submit" class="btn btn-default" onclick="document.location.href='#/driver'">Switch to driver</button>
    <button type="submit" class="btn btn-default" ng-click="logout()">Logout</button>
</div>

<!-- no current ride request -->
<div ng-init="rideStatus = 'none'" ng-hide="rideStatus != 'none'" class="jumbotron content-box">
    <form>
        <div class="form-group">
            <label for="destination">Enter your location: </label>
    		<input type="text" class="form-control"
                placeholder="1 Washington Square San Jose CA"
                ng-model="location" ng-blur="getETA()">
        </div>
        <div class="form-group">
            <label for="destination">Enter your destination: </label>
    		<input type="text" class="form-control"
                placeholder="1600 Pennsylvania Ave NW, Washington"
                ng-model="destination" ng-blur="getETA()">
        </div>
        <button type="submit" class="btn btn-default" ng-click="requestRide()">Get a ride!</button>
    </form>

    <ul>
        <li>Distance: <span>{{ distance }}</span></li>
        <li>Time: <span>{{ duration }}</span></li>
        <li>Cost: $<span>{{ cost }}</span></li>
    </ul>

    <div ng-init="setMap()" id="map-container"></div>
    </div>
</div>

<!-- pending ride request -->
<div ng-hide="rideStatus != 'pending'" class="jumbotron content-box">
    <p>Please wait while we find you a driver.</p>
</div>

<!-- in progress ride request -->
<div ng-hide="rideStatus != 'in_progress'" class="jumbotron content-box">
    <p>We found you a driver! They are now on their way to pick you up.</p>
</div>

<!-- GOOGLE MAPS -->
<script>
    'use strict';

    function initMap() {
        let map = new google.maps.Map(window.map, {
            center: {lat: 37.335, lng: -121.881},
            zoom: 10
        });

        // enter riderCtrl
        angular.element($('#uber2-view').get(0)).scope().initMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg5vYIK-jzpARJEDjbGdG91xn0r0eGvVM&callback=initMap" async defer></script>
