<!-- rider.html CSS -->
<link href="/app/css/rider.css"  rel="stylesheet" type="text/css"  />

<div class="jumbotron content-box">
    <h1>Rider Page</h1>
</div>

<div class="jumbotron content-box">
    <form>
        <div class="form-group">
            <label for="destination">Enter your destination: </label>
    		<input type="text" class="form-control" placeholder="1 Washington Square San Jose CA" ng-model="address">
	<button type="submit" class="btn btn-default" ng-click="getETA(map)">Get ETA</button>
        </div>
    </form>

    <ul>
        <li>Distance: <span ng-bind="distance"></span></li>
        <li>Time: <span ng-bind="duration"></span></li>
	    <li>Cost: $<span ng-bind="cost"></span></li>
    </ul>

    <div id="map"></div>
    </div>
</div>

<!-- GOOGLE MAPS -->
<script>
    'use strict';

    function initMap() {
        let map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 37.335, lng: -121.881},
            zoom: 8
        });

        // enter riderCtrl
        angular.element($('#uber2-view')).scope().initMap(map);
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ6yfacZkklf1syeK9AngqJDwo9DB00_4&callback=initMap" async defer></script>
